workflows/retain/R-03-social-auto-workflow.json
{
  "name": "R-03: Social Media Automation Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "expression": "0 10,14,18 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: 10AM, 2PM, 6PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "content_calendar",
        "filters": {
          "conditions": [
            {
              "column": "status",
              "condition": "eq",
              "value": "scheduled"
            },
            {
              "column": "scheduled_date",
              "condition": "lte",
              "value": "={{ $now }}"
            }
          ],
          "limit": 1
        }
      },
      "id": "supabase-content",
      "name": "Get Scheduled Post",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {},
        "messages": {
          "message": [
            {
              "role": "system",
              "content": "You are a social media manager. Write engaging caption with CTA, suggest 5-10 relevant hashtags, recommend best posting time. Match brand voice consistently. Include emoji strategy."
            },
            {
              "role": "user",
              "content": "=Post type: {{ $json.post_type }}\nTopic: {{ $json.topic }}\nProduct: {{ $json.product_name }}\nCampaign: {{ $json.campaign }}\nBrand voice: {{ $json.voice_description }}\n\nReturn format:\nCAPTION: [caption max 2200 chars]\nHASHTAGS: [5-10 hashtags]\nBEST_TIME: [recommended time]"
            }
          ]
        }
      },
      "id": "openai-write",
      "name": "AI: Write Caption",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse caption\nconst aiResponse = $input.first().json.content;\nconst content = $input.all()[0].json;\n\nconst captionMatch = aiResponse.match(/CAPTION:\\s*([\\s\\S]+?)(?=HASHTAGS:|$)/);\nconst hashtagsMatch = aiResponse.match(/HASHTAGS:\\s*(.+)/);\nconst timeMatch = aiResponse.match(/BEST_TIME:\\s*(.+)/);\n\nconst caption = captionMatch ? captionMatch[1].trim() : aiResponse;\nconst hashtags = hashtagsMatch ? hashtagsMatch[1].trim() : '#brand #d2c';\n\nreturn [{\n  json: {\n    post_id: content.id,\n    caption: caption,\n    hashtags: hashtags,\n    media_url: content.media_url,\n    platform: content.platform || 'instagram',\n    scheduled_time: content.scheduled_date,\n    full_text: caption + '\\n\\n' + hashtags,\n    status: 'ready_to_publish'\n  }\n}];"
      },
      "id": "code-parse",
      "name": "Parse Caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/me/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $json.full_text }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        },
        "method": "POST",
        "options": {}
      },
      "id": "http-instagram",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "content_calendar",
        "filters": {
          "conditions": [
            {
              "column": "id",
              "condition": "eq",
              "value": "={{ $json.post_id }}"
            }
          ]
        },
        "fields": [
          {
            "fieldId": "status",
            "value": "published"
          },
          {
            "fieldId": "published_at",
            "value": "={{ $now }}"
          },
          {
            "fieldId": "final_caption",
            "value": "={{ $json.caption }}"
          }
        ]
      },
      "id": "supabase-update",
      "name": "Mark Published",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 400],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "channel": "=#social-media",
        "text": "=📱 POST PUBLISHED\n\nPlatform: {{ $json.platform }}\nCaption: {{ $json.caption.substring(0, 100) }}...\nHashtags: {{ $json.hashtags }}\n\nStatus: Published ✅",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1250, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule: 10AM, 2PM, 6PM": {
      "main": [
        [
          {
            "node": "Get Scheduled Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scheduled Post": {
      "main": [
        [
          {
            "node": "AI: Write Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Write Caption": {
      "main": [
        [
          {
            "node": "Parse Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Caption": {
      "main": [
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Published": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["d2c", "retain", "social-media", "scheduled"],
  "pinData": {}
}
