workflows/retain/R-04-winback-workflow.json
{
  "name": "R-04: Winback & Churn Prevention Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: Daily 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "column": "last_order_date",
              "condition": "lte",
              "value": "={{ DateTime.now().minus({ days: 60 }).toISO() }}"
            },
            {
              "column": "winback_sent",
              "condition": "eq",
              "value": "false"
            }
          ],
          "limit": 50
        }
      },
      "id": "supabase-atrisk",
      "name": "Get At-Risk Customers",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "split-batch",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Determine winback stage\nconst customer = $input.first().json;\nconst lastOrder = new Date(customer.last_order_date);\nconst daysSince = Math.floor((Date.now() - lastOrder.getTime()) / (1000 * 60 * 60 * 24));\n\nlet stage = 1;\nlet incentive = 'none';\nlet message = 'We miss you!';\n\nif (daysSince >= 120) {\n  stage = 3;\n  incentive = '20% + free shipping';\n  message = 'Last chance - 20% off + free shipping';\n} else if (daysSince >= 90) {\n  stage = 2;\n  incentive = '10%';\n  message = 'Come back with 10% off';\n} else {\n  stage = 1;\n  incentive = 'personal note';\n  message = 'We miss you!';\n}\n\nreturn [{\n  json: {\n    ...customer,\n    days_since_order: daysSince,\n    winback_stage: stage,\n    incentive: incentive,\n    message_preview: message,\n    churn_risk_score: Math.min(100, Math.floor(daysSince / 1.5))\n  }\n}];"
      },
      "id": "code-stage",
      "name": "Determine Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {},
        "messages": {
          "message": [
            {
              "role": "system",
              "content": "You are a customer retention specialist. Write personalized winback message acknowledging customer's value. Stage 1: Personal note, no discount. Stage 2: Small offer (10%). Stage 3: Last chance (20% + free shipping)."
            },
            {
              "role": "user",
              "content": "=Customer: {{ $json.name }}\nDays since last order: {{ $json.days_since_order }}\nPrevious orders: {{ $json.order_count }}\nLTV: ${{ $json.lifetime_value }}\nStage: {{ $json.winback_stage }}\nIncentive: {{ $json.incentive }}\n\nWrite a personalized winback email."
            }
          ]
        }
      },
      "id": "openai-write",
      "name": "AI: Write Winback",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare winback data\nconst aiResponse = $input.first().json.content;\nconst customer = $input.all()[0].json;\n\nreturn [{\n  json: {\n    winback_id: 'WB-' + Date.now(),\n    customer_id: customer.id,\n    email: customer.email,\n    name: customer.name,\n    stage: customer.winback_stage,\n    churn_risk_score: customer.churn_risk_score,\n    incentive: customer.incentive,\n    message: aiResponse,\n    days_since_order: customer.days_since_order,\n    expected_response_rate: customer.winback_stage === 1 ? 0.05 : customer.winback_stage === 2 ? 0.08 : 0.12,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-prepare",
      "name": "Prepare Winback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "sendOptions": "=options",
        "fromEmail": "={{ $env.BREVO_FROM_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "=We miss you, {{ $json.name.split(' ')[0] }}!",
        "html": "=<p>Hi {{ $json.name.split(' ')[0] }},</p><p>{{ $json.message }}</p><p>{{ $json.incentive !== 'personal note' ? `<strong>Special offer: ${$json.incentive}</strong>` : '' }}</p><p><a href='https://yourstore.com'>Shop Now</a></p>",
        "options": {}
      },
      "id": "brevo-send",
      "name": "Send Winback Email",
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [1450, 200],
      "credentials": {
        "sendInBlueApi": {
          "id": "YOUR_BREVO_CREDENTIAL_ID",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "column": "id",
              "condition": "eq",
              "value": "={{ $json.customer_id }}"
            }
          ]
        },
        "fields": [
          {
            "fieldId": "winback_sent",
            "value": "true"
          },
          {
            "fieldId": "winback_stage",
            "value": "={{ $json.stage }}"
          },
          {
            "fieldId": "winback_sent_at",
            "value": "={{ $json.timestamp }}"
          }
        ]
      },
      "id": "supabase-update",
      "name": "Mark as Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 400],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "winback_campaigns",
        "fields": [
          {
            "fieldId": "winback_id",
            "value": "={{ $json.winback_id }}"
          },
          {
            "fieldId": "customer_id",
            "value": "={{ $json.customer_id }}"
          },
          {
            "fieldId": "stage",
            "value": "={{ $json.stage }}"
          },
          {
            "fieldId": "churn_risk_score",
            "value": "={{ $json.churn_risk_score }}"
          },
          {
            "fieldId": "incentive",
            "value": "={{ $json.incentive }}"
          },
          {
            "fieldId": "created_at",
            "value": "={{ $json.timestamp }}"
          }
        ]
      },
      "id": "supabase-log",
      "name": "Log Campaign",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "channel": "=#retention",
        "text": "=🔄 WINBACK SENT\n\nCustomer: {{ $json.name }}\nStage: {{ $json.stage }}\nRisk Score: {{ $json.churn_risk_score }}/100\nIncentive: {{ $json.incentive }}\nExpected Response: {{ ($json.expected_response_rate * 100).toFixed(1) }}%",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1850, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Daily 9 AM": {
      "main": [
        [
          {
            "node": "Get At-Risk Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get At-Risk Customers": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Determine Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Stage": {
      "main": [
        [
          {
            "node": "AI: Write Winback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Write Winback": {
      "main": [
        [
          {
            "node": "Prepare Winback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Winback": {
      "main": [
        [
          {
            "node": "Send Winback Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Winback Email": {
      "main": [
        [
          {
            "node": "Log Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Sent": {
      "main": [
        [
          {
            "node": "Log Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Campaign": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["d2c", "retain", "winback", "churn", "scheduled"],
  "pinData": {}
}
